<!doctype="html">
<html>
  <head>
  </head>

  <body>
    <h1>Hello, it's <%= me %></h1>
    <form method="POST" action="/">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
      <input type="hidden" name="state" value="<%= state %>">

      <label for="me">Me</label>
      <input type="text" name="me" value="<%= me %>" disabled><br>

      <label for="client_id">Client ID:</label>
      <input type="text" name="client_id" value="<%= clientId %>" disabled><br>

      <label for="redirect_uri">Return to:</label>
      <input type="text" name="redirect_uri" value="<%= redirectUri %>" disabled><br>

      <p>Scopes</p>
      <% scopes.forEach(function (scope) { %>
        <label>
          <input type="checkbox" name="scopes[]" value="<%= scope %>">
          <%= scope %>
        </label>
        <br>
      <% }); %>

      <input type="submit" value="gogogo">
    </form>
  </body>
</html>
